<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiuba.tdp.linkup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".util.MySuperAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LogInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/messenger_bubble_large_white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!--
                 The API key for Google Maps-based APIs is defined as a string resource.
                 (See the file "res/values/google_maps_api.xml").
                 Note that the API key is linked to the encryption key used to sign the APK.
                 You need a different API key for each encryption key, including the release key that is used to
                 sign the APK for publishing.
                 You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainLinkUpActivity"
            android:label="@string/title_activity_main_link_up" />
        <activity
            android:name=".views.FirstSignUpActivity"
            android:label="@string/title_activity_first_sign_up"
            android:parentActivityName=".views.LogInActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fiuba.tdp.linkup.views.LogInActivity" />
        </activity>
        <activity
            android:name=".views.EditInfoActivity"
            android:label="@string/title_edit_info"
            android:parentActivityName=".views.FirstSignUpActivity" />
        <activity
            android:name=".components.FacebookAlbumListActivity"
            android:label="@string/title_facebookphoto_list"
            android:parentActivityName=".views.EditInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fiuba.tdp.linkup.views.EditInfoActivity" />
        </activity>
        <activity
            android:name=".components.FacebookPhotoGridActivity"
            android:label="@string/title_facebookphoto_detail"
            android:parentActivityName=".components.FacebookAlbumListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fiuba.tdp.linkup.components.FacebookAlbumListActivity" />
        </activity>
        <activity
            android:name=".views.PreferencesActivity"
            android:label="Preferencias"
            android:parentActivityName=".views.FirstSignUpActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.FirstSignUpActivity" />
        </activity>
        <activity
            android:name=".views.OtherProfileActivity"
            android:parentActivityName=".views.MainLinkUpActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainLinkUpActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyDnSDRdt2xYPIROG86xWuf7_W7h8475A6c" /> -->

        <activity
            android:name=".views.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".views.MainLinkUpActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fiuba.tdp.linkup.views.MainLinkUpActivity" />
        </activity>

        <service android:name=".services.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".views.PremiumDetailsActivity"
            android:label="@string/title_activity_premium_details"
            android:parentActivityName=".views.PreferencesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fiuba.tdp.linkup.views.PreferencesActivity" />
        </activity>
    </application>

</manifest>